@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Semibold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/fonts/SF-Pro-Rounded-Regular.woff2') format('woff2');
  font-weight: normal;
}

* {
  font-family: 'SF Pro Rounded' !important;
}
